.header{
    text-align: center;
    color: #0e0d0d ;
    background-image: linear-gradient(to right, #e09406ba , #4e4d4af0);
  }
  
  a{
      color: #262626;
      text-decoration: none;
      font-size:25px;
      font-style: unset;
      width:90%; 
      display:inline-block;
      text-align:right;
      height: 10%;
      text-underline-position: auto;
  }
  u{
    color:black ;
    background-color: rgb(153, 119, 68);
    border-radius: 4%;
    border-color: black;
    box-shadow: blanchedalmond;
  }
  #carouselExampleDark{
      height: 20%;
  }
  .d-block w-100{
      height: 30%;
  }
  #carouselExampleIndicators{
      height: 30%;
      width: 80%;
      left: 10%;
     
  }
  /* .firstframe{
    background-color: aqua;
  } */
  #content{
      color: #680606;
      float: right;
      font-weight:bolder;
  }
  .divsion{
    background-color: black;
    height:5px;
  }
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #c79e21;
    text-align: center;
    white-space: nowrap;
    background-color: #212529;
    transition: width .6s cubic-bezier(0.42, 0, 1, 0.42);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    width: 60%;
    background-clip: border-box;
    border: 8px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 400px;
    font-size: initial;
    font-weight: 600;
    font-style: italic;
    font-variant-caps: titling-caps;
    background-image: linear-gradient(to right, #e09406ba , #4e4d4af0);
}
.card-deck{
    height: 50%;
}
.btn-primary {
  color: #fbfbfb;
  background-color: #4e4d4af0;
  border-color: #141414;
  border-radius: 3px;
  border-block-width: 3px;
  font-weight: inherit;
}
#accordion{
 margin-left: 10%;
 text-align: justify;

}
.btn-link {
  font-weight: 900;
  color: #212529;
  text-decoration: none;
}