<div class="header">
    <h2>WELCOME TO ABC INTERNET BANKING </h2> 
    <h5>Smart Banking for the Good Life</h5><br>
</div>

<div class="bg">
    <div class="container">
       
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1> Login </h1>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755S12 12 8 12s-5 1.755-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                          </svg> &nbsp;
                        <label>Email :</label>
                        <input type="text" placeholder = "--Enter mail id--" formControlName="email"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Please Enter a Valid Email</div>
                        </div>
                        
                    </div> <br> 
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                          </svg>&nbsp;
                        <label>Password :</label>
                        <input type="password" placeholder = "--Enter Valid Password--" formControlName="password" 
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.pattern">Password must be at least 1 Upper, 1 Lower,1 Special characters and 1 number</div>
                          </div>
                         
                    </div> <br> 
                   
                  <div class="form-group">
                   
                   
                        <button type ="submit" class=" btn btn-primary" >Login </button> &nbsp;
                        
                        <button class="btn btn-primary" type="reset" (click)="onReset()">Cancel</button> &nbsp; &nbsp;
                        <button class="btn btn-primary" routerLink = "/signup" routerLinkActivate="activate">SignUp</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
